.p30 {
  padding: 30px !important;
}

.p50 {
  padding: 50px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.mt-5 {
  margin-top: -5px !important;
}
.mt-10 {
  margin-top: -10px !important;
}
.mt-15 {
  margin-top: -15px !important;
}

.mt-25 {
  margin-top: -25px !important;
}
.mt-30 {
  margin-top: -30px !important;
}
.mt-35 {
  margin-top: -35px !important;
}
.mt-40 {
  margin-top: -40px !important;
}
.mt-45 {
  margin-top: -45px !important;
}
.mt-50 {
  margin-top: -50px !important;
}
.mt-55 {
  margin-top: -55px !important;
}
.mt-60 {
  margin-top: -60px !important;
}
.mt-65 {
  margin-top: -65px !important;
}
.mt-70 {
  margin-top: -70px !important;
}
.mt-75 {
  margin-top: -75px !important;
}
.mt-80 {
  margin-top: -80px !important;
}
.mt-85 {
  margin-top: -85px !important;
}
.mt-90 {
  margin-top: -90px !important;
}
.mt-95 {
  margin-top: -95px !important;
}
.mt-100 {
  margin-top: -100px !important;
}
.mt-120 {
  margin-top: -120px !important;
}
.mt-150 {
  margin-top: -150px !important;
}
.mt-200 {
  margin-top: -200px !important;
}
.mb-05 {
  margin-bottom: -5px !important;
}
.mb-10 {
  margin-bottom: -10px !important;
}
.mb-15 {
  margin-bottom: -15px !important;
}
.mb-20 {
  margin-bottom: -20px !important;
}
.mb-25 {
  margin-bottom: -25px !important;
}
.mb-30 {
  margin-bottom: -30px !important;
}
.mb-35 {
  margin-bottom: -35px !important;
}
.mb-40 {
  margin-bottom: -40px !important;
}
.mb-45 {
  margin-bottom: -45px !important;
}

.m30 {
  margin: 30px !important;
}

.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.mx30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

@media (max-width: 1399.98px) {
  .pr0-xl {
    padding-right: 0 !important;
  }

  .mt-8 {
    margin-top: -8px !important;
  }
}

@media (max-width: 1199.98px) {
  .pr0-lg {
    padding-right: 0 !important;
  }
}

@media (max-width: 991.98px) {
  .pb30-md {
    padding-bottom: 30px !important;
  }

  .pl0-md {
    padding-left: 0 !important;
  }

  .mr15-md {
    margin-right: 15px !important;
  }

  .mb15-md {
    margin-bottom: 15px !important;
  }

  .mb30-md {
    margin-bottom: 30px !important;
  }

  .ml0-md {
    margin-left: 0px !important;
  }
}

@media (max-width: 767.98px) {
  .p30-sm {
    padding: 30px !important;
  }

  .mb5-sm {
    margin-bottom: 5px !important;
  }
  .mb10-sm {
    margin-bottom: 10px !important;
  }
  .mb15-sm {
    margin-bottom: 15px !important;
  }
  .mb20-sm {
    margin-bottom: 20px !important;
  }

  .mb30-sm {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 575.98px) {
  .pr15-xs {
    padding-right: 15px !important;
  }

  .mt20-xs {
    margin-top: 20px !important;
  }

  .ml0-xs {
    margin-left: 0px !important;
  }
}

@media (max-width: 1199px) {
  .bdrn-lg {
    border: none !important;
  }
}
@media (max-width: 991px) {
  .wa-md {
    width: auto !important;
  }
}
@media (max-width: 767px) {
  .wa-sm {
    width: auto !important;
  }
}
@media (max-width: 575.98px) {
  .wa-xs {
    width: auto !important;
  }
}
